/* HTML: <div class="rounded-tab"></div> */
.rounded-tab {
    background-color: white;
    --r: 12px;
    line-height: 2.5;
    padding-inline: 0.5em;
    border-inline: var(--r) solid #0000;
    border-radius: calc(2* var(--r)) calc(2* var(--r)) 0 0 / var(--r);
    mask: radial-gradient(var(--r) at var(--r) 0, #0000 98%, #000 101%) calc(-1* var(--r)) 100% / 100% var(--r) repeat-x, conic-gradient(#000 0 0) padding-box;
}